*,*::after,*::before{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;

}

h1{
    align-self: center;
}
h2{
    color:dodgerblue;
}

#canvasDiv{
    display:flex;
    justify-content: center;
    align-items: center;
}

.section{
    margin:0% 5%;
    padding:0% 0%;
}

.values{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
    flex-grow: 0;
    padding:20px 5px;
    gap: 1rem;
}

.value{
    text-align: center;
    overflow: hidden;
}

.CMAESbuttonsdiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.buttons{
    background-color: #eee;
    color:black;
    font-size: large;
    align-self: stretch;
    width:20%;
    padding:5px;
    margin:10px;
}
.buttons:hover{
    background-color: #333;
    color: white;
}

canvas{
    width: min(50vh,50vw);
    height: min(50vh,50vw);
    border:2px solid black;
}

@media (min-width:420px) and (max-width:768px) {
    canvas{
    width: min(80vh,80vw);
    height: min(80vh,80vw);
    }
    
}
@media (max-width:420px)  {
    canvas{
    width: min(90vh,90vw);
    height: min(90vh,90vw);
    }
    
}